<h1>New ToDo</h1>
<%= form_with model: @todo, local: true do |f|%>

	<%= f.label :decription, "Description" %>
	<%= f.text_field :description %>
	<%= f.label :completed, "Status" %>
	<%= f.text_field :completed %>
	<%= f.submit "Guardar" %>
	<%end%>